<nav class="navbar navbar-inverse">
	<a class="navbar-brand" href="#/consents"><img src="images/icon1.svg" alt="logo" class="logo-nav-size"></a>
	<ul class="nav navbar-nav">
		<li>
			<a href="#/dashboard">Dashboard</a>
		</li>
		<li class="active">
			<a href="#/workspace">Application Information</a>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"> {{username}} <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Inbox</a></li>
				<li class="disabled"><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			</ul>
		</li>
	</ul>
</nav>
<div class="container-fluid" data-ng-init="init()">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Project profile</h3>
				</div>
				<div class="panel-body">
					<span><b>Project Name </b>: {{consent.title}} </span>
					<br/>
					<span><b>Agent </b>: {{consent.agent.name}} </span>
					<br/>
					<span><b>Client </b>: {{consent.client.name}} </span>
					<br/>
					<span><b>Location </b>: {{consent.address}}</span>
					<br/>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 margin-bottom-20px">
						<h3>Application Information<br/>
						<small>A building consent is the formal approval issued by a Building Consent Authority (BCA) to ensure certain works meet the requirements of the Building Act 2004, Building Regulations and the New Zealand Building Code. The Building Act requires that all sections of this form be completed in full before you are able to submit your application.</small>
					</h3>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4>To Submit to Council</h4>
							<ol>
								<li>Enter all relevant information</li>
								<li>
									<a ng-href="{{url}}/consents/{{consent._id}}/consentDocuments">Download consent application and supporting documents</a>
								</li>
								<li>Fill the Specified Systems PDF if required, using a PDF viewer. <i>Specified Systems PDF included in download above.</i></li>
								<li>Sign the HCC_consent_application.pdf using Adobe Reader <a href="https://helpx.adobe.com/reader/using/fill-and-sign.html"><i>How to sign electronic PDFs</i></a></li>
								<li>
									Submit your consent application to the Hutt City Council through their
									<a href="https://transfer.huttcity.govt.nz/courier/web/1000@/wmRsfile.html?q=na%2Fproperty">web portal</a>
								</li>
							</ol>
							<!-- <button ng-click="submitApplication()" type="button" class="btn btn-lg btn-success btn-block margin-top-10px pull-right margin-bottom-10px" ng-disabled="submittable">DOWNLOAD &amp; SUBMIT APPLICATION</button> -->
							<!-- <button ng-click="downloadConsentDocuments()" type="button" class="btn btn-lg btn-success btn-block margin-top-10px pull-right margin-bottom-10px" ng-disabled="submittable">DOWNLOAD &amp; SUBMIT APPLICATION</button> -->
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Building & Project Information</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-5 col-md-offset-7" ng-show="!checkInfoBuilding">

										<button type="button" class="btn btn-primary btn-block btn-lg pull-right" data-toggle="modal" data-target="#addBuildingInfo">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Building &amp; Project Information
										</button>
									</div>
									<div class="col-md-12" ng-show="checkInfoBuilding">
										<div class="row">
											<div class "col-md-6">
												<h3>Information supplied</h3>
											</div>
											<div class "col-md-3">
												<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addBuildingInfo">
													Edit
												</button>
											</div>
										</div>

									</div>
								</div>
								<!-- Modal -->
								<div class="modal " id="addBuildingInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Building & Project Information</h4>
											</div>
											<div class="modal-body">
												<form class="centering">
													<div class="row">
														<div class="col-md-6">
															<label>Building name:</label>
															<input type="text" class="form-control" ng-model="consent.buildingInfo.name" required autofocus>
														</div>
														<div class="col-md-6">
															<label>Number of levels:</label>
															<input type="text" class="form-control" ng-model="consent.buildingInfo.level">
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<label>Total floor area:</label>
															<div class="input-group">
																<div class="input-group-addon">m²</div>
																<input type="text" class="form-control" placeholder="e.g. 250m²" ng-model="consent.buildingInfo.totalFloor">
															</div>
														</div>
														<div class="col-md-6">
															<label>Existing floor area:</label>
															<div class="input-group">
																<div class="input-group-addon">m²</div>
																<input placeholder="e.g. 250m²" type="text" class="form-control" ng-model="consent.buildingInfo.existingFloorArea">
															</div>
														</div>
														<div class="col-md-6">
															<label>Proposed floor area:</label>
															<div class="input-group">
																<div class="input-group-addon">m²</div>
																<input placeholder="e.g. 250m²" type="text" class="form-control" ng-model="consent.buildingInfo.proposedFloorArea">
															</div>
														</div>
														<hr />
														<div class="col-md-6">
															<label>Affected levels:</label>
															<div class="">
																<input placeholder="3, 4" type="text" class="form-control" ng-model="consent.buildingInfo.affectedLevels">
															</div>
														</div>
														<div class="col-md-6">
															<label>Location of building within site:</label>
															<div class="">
																<input placeholder="NW corner" type="text" class="form-control" ng-model="consent.buildingInfo.locationWithinSite">
															</div>
														</div>
													</div>
													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>List any previously issued consents:</label>
															<div class="">
																<input placeholder="date:name of issuer:consent number, ..." type="text" class="form-control" ng-model="consent.buildingInfo.previouslyIssuedConsents">
															</div>
														</div>
													</div>
													<hr />
													<label>Does the building have cultural significance?</label>
													<div class="pull-right">
														<div class="radio-inline">
															<label>
																<input type="radio" id="cultural-significance-true" name="optradio" ng-model="consent.buildingInfo.hasCulturalSignificance" ng-value="true">Yes</label>
														</div>
														<div class="radio-inline">
															<label>
																<input type="radio" id="cultural-significance-false" name="optradio" ng-model="consent.buildingInfo.hasCulturalSignificance" ng-value="false">No</label>
														</div>
													</div>
													<hr/>
													<label>Does the building have any specified systems?</label>
													<div class="pull-right">
														<div class="radio-inline">
															<label>
																<input type="radio" id="building-systems-true" name="optradio" ng-model="consent.buildingInfo.speSystem" ng-value="true">Yes</label>
														</div>
														<div class="radio-inline">
															<label>
																<input type="radio" id="building-systems-false" name="optradio" ng-model="consent.buildingInfo.speSystem" ng-value="false">No</label>
														</div>
													</div>
													<div ng-show="consent.buildingInfo.speSystem==true">
														<label>The specified systems for the building are as follows:</label>
														<input type="textarea" class="form-control" ng-model="consent.buildingInfo.speFollows" placeholder="e.g. Cable Cars" ng-show="consent.buildingInfo.speSystem==true">
														<label>The following specified system(s) are being altered added to, or removed, in the course of the building work:</label>
														<input type="textarea" class="form-control" ng-model="consent.buildingInfo.speUpdate" placeholder="e.g. altered ">
													</div>
													<hr />
													<!-- <div class="row">
												<div class="col-md-8">
													<label>Have there been any pre-application meetings prior to making this application?</label>
												</div>
												<div class="col-md-4">
												<div class="pull-right">
													<div class="radio-inline">
														<label><input type="radio" name="preApp" ng-model="project.info" ng-value="true" id="prior-meetings-true">Yes</label>
													</div>
													<div class="radio-inline">
														<label><input type="radio" name="preApp" ng-model="project.info" ng-value="false">No</label>
													</div>
												</div>
												</div>
												<div class="col-md-8">
													<input type="text" class="form-control" ng-model="project.number" placeholder="Pre-app Number" ng-show="project.info==true">
												</div>
												</div> -->
													<div class="row">
														<div class="col-md-7">
															<label>Estimated value of the building work on which the building levy will be calculated:</label>
														</div>
														<div class="col-md-5">
															<div class="input-group">
																<div class="input-group-addon">$NZD</div>
																<input type="text" class="form-control" placeholder="eg : 100.000" ng-model="consent.project.value">
															</div>
														</div>
													</div>
													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>Subdivision</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'Subdivision'" ng-model="consent.buildingInfo.projectInformationMemorandum[0].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[0].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>Alterations to land contours</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'Alterations to land contours'" ng-model="consent.buildingInfo.projectInformationMemorandum[1].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[1].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>New or altered connection to public utilities</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'New or altered connection to public utilities'" ng-model="consent.buildingInfo.projectInformationMemorandum[2].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[2].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>New or altered locations and/or external dimensions of building(s)</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'New or altered locations and/or external dimensions of building(s)'" ng-model="consent.buildingInfo.projectInformationMemorandum[3].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[3].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>New or altered access for vehicles</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'New or altered access for vehicles'" ng-model="consent.buildingInfo.projectInformationMemorandum[4].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[4].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>Building work over or adjacent to any public road or public place</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'Building work over or adjacent to any public road or public place'" ng-model="consent.buildingInfo.projectInformationMemorandum[5].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[5].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>Disposal of stormwater or wastewater</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'Disposal of stormwater or wastewater'" ng-model="consent.buildingInfo.projectInformationMemorandum[6].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[6].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>Building work over existing drains or sewers or in close proximity to wells or water mains</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'Building work over existing drains or sewers or in close proximity to wells or water mains'" ng-model="consent.buildingInfo.projectInformationMemorandum[7].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[7].comments">
															</div>
														</div>
													</div>

													<hr />
													<div class="row">
														<div class="col-md-6">
															<label>Other matters known to the applicant that may require authorisation from Hutt City Council</label>
															<div class="input-group">
																<input type="checkbox" class="memorandumCheckbox" ng-true-value="'Other matters known to the applicant that may require authorisation from Hutt City Council'" ng-model="consent.buildingInfo.projectInformationMemorandum[8].matter">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="comments" ng-model="consent.buildingInfo.projectInformationMemorandum[8].comments">
															</div>
														</div>
													</div>

													<hr />
													<button ng-click="addBuildingInfo()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Save</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Project Team</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-5 col-md-offset-7" ng-show="!checkInfoPeople">
										<a href="#/contact">
											<button type="button" class="btn btn-primary btn-lg btn-block pull-right">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> People
											</button>
										</a>
									</div>
									<div class="col-md-12" ng-show="checkInfoPeople">
										<div class="row">
											<div class "col-md-6">
												<a href="#/contact">
													<button type="button" class="btn btn-success btn-lg btn-block pull-right">
														<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> People
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Means of Compliance</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-5 col-md-offset-7">
										<a href="#/compliance">
											<button type="button" class="btn btn-primary btn-lg btn-block pull-right">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Means of Compliance
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Documents</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-5 col-md-offset-7" ng-show="!checkInfoDocument">
										<button type="button" class="btn btn-primary btn-lg btn-block pull-right" data-toggle="modal" data-target="#addDocument">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Document
										</button>
										<!-- <a href="#/productSpec">
										<button type="button" class="btn btn-primary btn-lg btn-block pull-right">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Product Spec
										</button>
									</a> -->
									</div>
									<div class="col-md-12" ng-show="checkInfoDocument">
										<div class="row">
											<div class "col-md-6">
												<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
													<div class="panel panel-primary">
														<div class="panel-heading" role="tab" id="headingOne">
															<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
																Show Document added
															</a>
														</h4>
														</div>
														<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
															<div class="panel-body">
																<ul ng-repeat="item in consent.doc">
																	<li><a ng-href='{{item.url}}' target="_blank">{{item.name}}</a></li>
																</ul>
																<ul ng-repeat="art in articleChoose" class="list-no-bullets">
																	<li>
																		<div class="row">
																			<div class="col-md-10">
																				{{art.product_title}}
																			</div>
																			<div class="col-md-2">
																				<button type="button" class="btn btn-danger" ng-click="removeProduct(art)"><span class="glyphicon glyphicon-trash"></span></button>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class "col-md-3">
												<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addDocument">
													<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add More
												</button>
												<a href="#/productSpec">
													<button type="button" class="btn btn-primary btn-lg">
														<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add From ProductSpec
													</button>
												</a>
											</div>
										</div>

									</div>

									<!-- Modal -->
									<div class="modal " id="addDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title" id="myModalLabel">Add Document</h4>
												</div>
												<div class="modal-body">
													<form class="large-margin-top">
														<div class="form-group">
															<label>File:</label>
															<input type="file" file-model="myFile" />
															<button ng-click="uploadFile()" class="btn btn-lg btn-primary btn-block margin-top-10px">Upload file</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									The following documents are attached to this application:
									<ul>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Plans and specifications'" ng-model="uploadDocTypes[0]"> Plans and specifications</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Project information memorandum'" ng-model="uploadDocTypes[1]"> Project information memorandum</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Development contribution notice'" ng-model="uploadDocTypes[2]"> Development contribution notice</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Certificate attached to project information memorandum'" ng-model="uploadDocTypes[3]"> Certificate attached to project information memorandum</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Disposal of stormwater and wastewater'" ng-model="uploadDocTypes[4]"> Disposal of stormwater and wastewater</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Building work over any existing drains or sewers or in close proximity to wells or water mains'" ng-model="uploadDocTypes[5]"> Building work over any existing drains or sewers or in close proximity to wells or water mains</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Licensed building practitioner(s) who carried out or supervised any design work that is restricted'" ng-model="uploadDocTypes[6]"> Licensed building practitioner(s) who carried out or supervised any design work that is restricted</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Calculations'" ng-model="uploadDocTypes[7]"> Calculations</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'Producer Statements'" ng-model="uploadDocTypes[8]"> Producer Statements</li>
										<li>
											<input ng-change="saveConsent()" type="checkbox" class="docTypeCheckbox" ng-true-value="'LBP memorandums'" ng-model="uploadDocTypes[9]"> LBP memorandums</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Privacy<br/>
					<small>
						The Council collates statistics relating to issued building consents and has a statutory obligation to forward these regularly to Statistics New Zealand. The Council stores the information on a public register, which must be supplied (as previously determined by the Ombudsman) to whoever requests the information. Under the Privacy Act 1993 you have the right to see and correct personal information the Council holds about you.
					</small>
				</h3>
			</div>
		</div>
	</div>
</div>

</div>
