<div class="container-fluid" >
	<div class="row border-bottom-home">
		<div class="col-md-2">
			<img src="images/logo-02.svg" alt="logo" class="logo-size">
		</div>
		<div class="col-md-1 col-md-offset-8">
			<a href="#/register">
				<button type="button" class="btn btn-primary btn-lg margin-top-30px">
					Sign up
				</button>
			</a>
		</div>
	</div>
	<div class="row background">
		<div class="col-md-6 col-md-offset-6">
			<div class="row">
				<div class="col-md-12 color-txt-white">
					<h2>Join the many New Zealanders’ who want <br/>
						smart, simple building consents</h2>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-7">
			<div class="row ">
				<div class="col-md-12 color-txt-white background-color1">
				<div class="margin-bottom-30px">
					<form class="centering">
						<p class="bg-danger" id="login-fail" ng-show="loginMistake == true"><span class="glyphicon glyphicon-remove-circle"></span> {{loginerror}}</p>
						<h2>Log In</h2>
						<label>Email</label>
						<input type="text" class="form-control" ng-model="login.mail" required autofocus>
						<label>Password</label>
						<input type="password" class="form-control" ng-model="login.pwd" required>
						<button ng-click="save()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Log in</button>
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-4">
						<div class="number-size margin-top-40px">
							<img src="images/oneRound.svg" alt="logo" class="number-size">
						</div>
						<div class="text-align">
							<h3> Sign up to Vizbot</h3>
							<p>
								Enter your contact details to build a user profile and gain access to the benefits of Vizbot
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="number-size margin-top-40px">
							<img src="images/twoRound.svg" alt="logo" class="number-size">
						</div>
						<div class="text-align">
							<h3> Create a new project</h3>
							<p>
								Add specific information and requierments about your project building and team
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="number-size margin-top-40px">
							<img src="images/threeRound.svg" alt="logo" class="number-size">
						</div>
						<div class="text-align">
							<h3> Track your consents</h3>
							<p>
								Submit a building consent receive notifications and follow the proces with council
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
