<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#/consents"><img src="images/icon1.svg" alt="logo" class="logo-nav-size"></a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="consent">Home</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user"> {{username}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li class="disabled"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Inbox</a></li>
          <li class="disabled"><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#/"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="container-fluid" data-ng-init="init()">

    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#/workspace">Application information</a></li>
        <li class="active">Project Team</li>
      </ol>
      <div class="col-md-12">
      <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Project profile</h3>
        </div>
        <div class="panel-body">
          <span><b>Project Name </b>: {{consent.title}} </span><br/>
          <span><b>Agent </b>: {{consent.agent.name}} </span><br/>
          <span><b>Client </b>: {{consent.client.name}} </span><br/>
          <span><b>Location </b>: {{consent.address}}</span><br/>
        </div>
      </div>
      </div>
        <div class="col-md-8 ">
          <div class="row">
          <div class="col-md-12">
          <h3>Project Team</h3>
        </div>
            <div class="col-md-12">
              <h3>Agent</h3>
              <div ng-show="isAgent">
                <h3>{{username}}</h3>
              </div>
              <div>
                <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addAgent">
                  Add agent details
                </button>

                <div class="modal " id="addAgent">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Agent</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group" >
                          <label>Name of Agent :</label>
                          <input type="text" class="form-control" ng-model="consent.agent.name">
                          <label>Agent relationship to client :</label>
                          <input type="text" class="form-control" ng-model="consent.agent.relationshipToOwner">
                          <label>Phone Number:</label>
                          <input type="text" class="form-control" ng-model="consent.agent.phone">
                          <label>Street :</label>
                          <input type="text" class="form-control" ng-model="consent.agent.address.street">
                          <label>Suburb :</label>
                          <input type="text" class="form-control" ng-model="consent.agent.address.suburb">
                          <label>City :</label>
                          <input type="text" class="form-control" ng-model="consent.agent.address.city">
                          <label>Post Code :</label>
                          <input type="text" class="form-control" ng-model="consent.agent.address.postCode">

                          <label>Email:</label>
                          <input type="text" class="form-control" ng-model="consent.agent.mail">
                        </div>
                        <button ng-click="saveAgent()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="hasAgent">
                  <h3>{{agent.name}}</h3>
                  <!-- <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addAgent">
                     Edit
                  </button> -->
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-12">
              <h3>Owner</h3>
              <p>
                The following evidence of ownership is attached to this application :<br/>
                <a target="_blank" href="http://www.linz.govt.nz/land/land-records/types-land-records/computer-register-certificate-title-current">Copy of certificate title</a>,<br/>
                or lease, <br/>
                or Agreement for sale and purchase, <br/>
                or other document showing full name of legal owner(s) of the building<br/>
                You can add this document <a href="#/workspace">here</a>
              </p>
              <div ng-show="!isAgent">
                <h3>{{ username }}</h3>
              </div>
              <div>
                <div ng-show="isAgent && !hasClient">
                  <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addOwner">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Client/Owner
                  </button>
                </div>
                <div ng-show="isAgent && hasClient">
                  <h3>{{consent.client.name}}</h3>
                  <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addOwner">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Edit
                  </button>
                </div>
                <div class="modal " id="addOwner">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Client/Owner</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group" >
                          <label>Name of Owner :</label>
                          <input type="text" class="form-control" ng-model="client.name">
                          <label>Street :</label>
                          <input type="text" class="form-control" ng-model="client.address.street">
                          <label>Suburb :</label>
                          <input type="text" class="form-control" ng-model="client.address.suburb">
                          <label>City :</label>
                          <input type="text" class="form-control" ng-model="client.address.city">
                          <label>Post Code :</label>
                          <input type="text" class="form-control" ng-model="client.address.postCode">
                          <label>Phone Number:</label>
                          <input type="text" class="form-control" ng-model="client.phone">
                          <label>Email:</label>
                          <input type="text" class="form-control" ng-model="client.mail">
                          Proof of ownership: (uploaded document) &nbsp;&nbsp;&nbsp;
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" ng-model="client.proofOfOwnership.certificateOfTitle" value=true>
                            Copy of certificate of title, no more than three months old
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" ng-model="client.proofOfOwnership.lease" value=true>
                            Lease
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" ng-model="client.proofOfOwnership.agreementForSalePurchase" value=true>
                            Agreement for sale and purchase
                          </label>
                        </div>
                        <button ng-click="saveClient()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-12">
              <h3>Add first point of contact</h3>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      Invoicing:&nbsp;&nbsp;&nbsp;
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="pointOfContactInvoiceAgent" ng-model="pointOfContact.invoicing" ng-change="savePointOfContact()" value="agent">
                        Agent
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="pointOfContactInvoiceClient" ng-model="pointOfContact.invoicing" ng-change="savePointOfContact()" value="client">
                        Client
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      Correspondence:&nbsp;&nbsp;&nbsp;
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="pointOfContactCorrespondenceAgent" ng-model="pointOfContact.correspondence" ng-change="savePointOfContact()" value="agent">
                        Agent
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="pointOfContactCorrespondenceClient" ng-model="pointOfContact.correspondence" ng-change="savePointOfContact()" value="client">
                        Client
                      </label>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <h3>Will there be restricted building work?</h3>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="restrictedYes" ng-model="restrictedBuildingWork" ng-change="saveConsent()" value=true> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="restrictedNo" ng-model="restrictedBuildingWork" ng-change="saveConsent()" value=false> No
              </label>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Licenced Building Practitioner (LBP)</h3>
            <div ng-show="!hasLBP">
              <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addLbp">
                Add LBP
              </button>
            </div>
            <div ng-show="hasLBP">
              <div class="row">
                <button type="button" class="btn btn-primary btn-md pull-right margin-bottom-10px" data-toggle="modal" data-target="#addLbp">
                   More LBP
                </button>
              </div>
              <div class="table-responsive" >
                <table class="table table-condensed">
                  <thead class="tableHead">
                    <tr>
                      <th>Name</th>
                      <th>Licensing Class</th>
                      <th>LBP Number</th>
                      <th>Certificate</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in consent.lbp" class="tableLine">
                      <td>{{item.name}}</td>
                      <td>{{item.classL}}</td>
                      <td>{{item.lbp}}</td>
                      <td>{{item.certificat}}</td>
                      <td><button type="button" class="btn btn-primary btn-md" ng-click="editLbp(item)">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Edit
                      </button></td>
                      <td><button ng-click="deleteLbp(item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal " id="addLbp">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Licensed Building Practitioner</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label>Name:</label>
                      <input type="text" class="form-control" ng-model="lbp.name">
                      <label>Particular work:</label>
                      <input type="text" class="form-control" ng-model="lbp.particularWork">
                      <label>Licensing class:</label>
                      <input type="text" class="form-control" ng-model="lbp.classL">
                      <label>LBP Number:</label>
                      <input type="text" class="form-control" ng-model="lbp.lbp">
                      <label>Certificate of design work attached:</label>
                      <input type="text" class="form-control" ng-model="lbp.certificat">
                    </div>
                    <button ng-click="saveLBP()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row margin-bottom-50px" >
          <div class="col-md-12">
            <h3>Others professionals</h3>
            <div ng-show="!hasPro">
              <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#addPro">
                 Add Professional
              </button>
            </div>
            <div ng-show="hasPro">
              <div class="row">
                <button type="button" class="btn btn-primary btn-md pull-right margin-bottom-10px" data-toggle="modal" data-target="#addPro">
                   More Professional
                </button>
              </div>
              <div class="table-responsive" >
                <table class="table table-condensed">
                  <thead class="tableHead">
                    <tr>
                      <th>Profession</th>
                      <th>Name</th>
                      <th>City</th>
                      <th>Phone</th>
                      <th>E-Mail</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in consent.people" class="tableLine">
                      <td>{{item.type}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.city}}</td>
                      <td>{{item.phone}}</td>
                      <td>{{item.mail}}</td>
                      <td><button type="button" class="btn btn-primary btn-md" ng-click="editPro(item)">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Edit
                      </button></td>
                      <td><button ng-click="deletePro(item)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal " id="addPro">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Professional</h4>
                  </div>
                  <div class="modal-body">
                    <form class="large-margin-top">
                      <div class="form-group">
                        <label>Type:</label>
                        <select class="form-control" id="type" ng-model= "people.type">
                          <option value"architect" selected>Architect</option>
                          <option value"structEngineer">Structural Engineer</option>
                          <option value"fire">Fire Engineer</option>
                          <option value"mechanical">Mechanical Engineer</option>
                          <option value"builder">Builder</option>
                          <option value"plumber">Plumber</option>
                          <option value"gasfitter">Gasfitter</option>
                          <option value"gasfitter">Designer</option>
                          <option value"electrician">Electrician</option>
                          <option value"drainlayer">Drainlayer</option>
                          <option value"cladder">Exterior Cladder</option>
                          <option value"surveyor">Surveyor</option>
                          <option value"heating">Heating Appliance Installer</option>
                          <option value"others">Other</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>name:</label>
                        <input type="text" class="form-control" ng-model="people.name">
                        <label>Street:</label>
                        <input type="text" class="form-control" ng-model="people.address.street">
                        <label>Suburb:</label>
                        <input type="text" class="form-control" ng-model="people.address.suburb">
                        <label>City:</label>
                        <input type="text" class="form-control" ng-model="people.address.city">
                        <label>Post Code:</label>
                        <input type="text" class="form-control" ng-model="people.address.postCode">

                        <label>Phone Number:</label>
                        <input type="text" class="form-control" ng-model="people.phone">
                        <label>Email:</label>
                        <input type="text" class="form-control" ng-model="people.mail">
                        <label>Website:</label>
                        <input type="text" class="form-control" ng-model="people.website">
                        <label>Registration Qualification:</label>
                        <input type="text" class="form-control" ng-model="people.registrationNumber">
                      </div>
                      <button ng-click="savePro()" type="submit" class="btn btn-lg btn-primary btn-block margin-top-10px">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
